<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>IBStudy</string>
	<key>CFBundleIdentifier</key>
	<string>com.charlie.ibstudy</string>
	<key>CFBundleName</key>
	<string>IBStudy</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.9</string>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/zBossPC/IB-Study-App/main/docs/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>6QFsk/Dz1gwdIzlggz1iXw0c1P6M4AY9hV+5PnV1pJA=</string>
</dict>
</plist>
